<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Sign up <br /> and get free content every week</h3>
        <p class="footer-links">
            <input type="text" class="name" placeholder="Enter your Email..">
            <input type="submit" class="submit" value="Register">
        </p>
    </div>
    <div class="footer-center">
        <h3>Browse by categories </h3>
        <table>
            <tr>
                <td><a href="/">Graphics</a></td>
                <td><a href="/">Addon</a></td>

            </tr>
            <tr>
                <td><a href="/">PSDs</a></td>
                <td><a href="/">Fonts</a></td>

            </tr>
            <tr>
                <td><a href="/">Icons</a></td>
                <td><a href="/">Texture</a>></td>
            </tr>
            <tr>
                <td><a href="/">Templates</a></td>
                <td><a href="/">Pattern</a>></td>
            </tr>
            <tr>
                <td><a href="/">Themes</a></td>
                <td><a href="/">Background</a>></td>
            </tr>
        </table>
    </div>
    <div class="footer-right">
        <br /><br />

        <table>
            <tr>
                <td><a href="/">Buttons</a></td>
                <td><a href="/">Infographics</a></td>
            </tr>
            <tr>
                <td><a href="/">Forms</a></td>
                <td><a href="/">Graphs</a></td>
            </tr>
            <tr>
                <td><a href="/">GUI</a></td>
                <td><a href="/">Logos</a>></td>
            </tr>
            <tr>
                <td><a href="/">Navigation</a></td>
                <td><a href="/">Vectors</a>></td>
            </tr>
            <tr>
                <td><a href="/">UI Kits</a></td>
                <td><a href="/">Buisness Cards</a>></td>
            </tr>
        </table>
    </div>

</footer>