<div class="landingPage">
    <div class="banner">
        <div id="bg_0">
            <p class="row justify-content-md-center" id="title1">Gif Search</p><br /><br />
            <div class="example">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="What are you looking for?" name=" search"
                        [(ngModel)]="searchtext" required>
                    <div id="ShowAll">
                        <select id="department" [(ngModel)]="selectionValue"
                            class="form-control">
                            <option *ngFor="let s of selectionDropdown" [value]="s.name">
                                {{s.name}}
                            </option>
                        </select><br />
                    </div>
                    <button id="searchBtn" type="submit" (click)="search(selectionValue,searchtext)"><i
                            class="fa fa-search"></i></button>
                </div>
            </div><br /><br /><br /><br />
            <p class="row justify-content-md-center" id="title2">You can search any gif with our search</p><br />
            <p class="row justify-content-md-center" id="title3">Everything you need for your creative
                projects.website,banners,presentations,magzines and advertisment.</p><br />
        </div>
    </div>
    <!-- banner section ends here -->
    <div *ngIf="viewSearchReult">
        <div class="resultSection">
            <div class="row">
                <div class="col-md-3 dataDiv" *ngFor="let g of listToShow">
                    <iframe [src]="(g.embed_url) | safe" id="data"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!viewSearchReult">
        <div class="resultSection">
            <div class="row">
                <div class="col-md-3 dataDiv" *ngFor="let g of trndingGifUrl">
                    <iframe [src]="(g.embed_url) | safe" id="data"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>